.e-commerce-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-commerce-login-img {
  flex: 1;
}

.e-commerce-login-form {
  flex: 1;
}

.e-commerce-login-inputs {
  gap: 40px;
}

.e-commerce-login-input {
  border: none;
  border-bottom: 1px solid #a0a0a0;
  padding: 15px;
  display: flex;
  width: 371px;
  height: 25px;
  font-family: "poppins";
  font-size: 16px;
}
.e-commerce-login-buttons {
  gap: 87px;
  margin-top: 30px;
}

.e-commerce-login-button {
  border: transparent;
  background-color: rgba(219, 68, 68, 1);
  padding: 15px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  font-family: "poppins";
  color: aliceblue;
}

.e-commerce-login-titles {
  gap: 24px;
  padding: 20px;
}

.e-commerce-login-title {
  font-size: 36px;
  max-width: 350px;
  font-family: "Inter";
}

.e-commerce-login-subtitle {
  font-family: "poppins";
  display: flex;
  font-size: 22px;
}

.e-commerce-login-pass {
  background-color: white;
  color: rgba(219, 68, 68, 1);
  width: 160px;
  border: solid white;
  font-family: "poppins";
  margin: 90px;
}
