* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*hompage wishlist page style start*/
.wishlist-top {
  padding: 2% 8%;
  width: 100%;
}
.wishlist-page-top-section {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.wishlist-page-top-section h3 {
  font-family: "poppins", sans;
  font-weight: 400;
  font-size: clamp(14px, 4vw, 20px);
  line-height: 26px;
}
.wishlist-page-top-section button {
  padding: 16px 48px 16px 48px;
  background-color: #fff;
  border: 1px solid #00000080;
  cursor: pointer;
}
.wishlist-page-top-section button h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: black;
}
.wishlist-page {
  width: 100%;
  padding: 2% 8%;
}
.wishlist-products {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.wishlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 40px;
  max-width: 1350px;
  margin: auto;
}
.wishlist-images {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.wishlist-bag {
  position: relative;
}
.fa-trash-alt {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 8px;
}
.fa-trash-alt::before {
  font-size: 20px;
}
.ad-to-cart {
  width: 100%;
  height: 41px;
  background-color: #000000;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  opacity: 0;
}
.wishlist-products-page:hover .ad-to-cart:hover {
  transform: translateY(-7px);
  opacity: 1;
}
.wishlist-images {
  width: 100%;
  background-color: #f5f5f5;
}
.wishlist-bag span {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.wishlist-bag span i {
  font-size: 20px;
  cursor: pointer;
}
.wishlist-bag .ad-to-cart {
  width: 100%;
  height: 41px;
  background-color: #000000;
  color: #fff;
  font-family: "poppins", sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bag-text {
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.bag-text h4 {
  font-family: "poppins", sans;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bag-text p {
  font-family: "poppins", sans;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #db4444;
}
/*hompage wishlist page style end*/
